{% extends 'base.html' %}
{% block content %}

<main class="container py-5">
    <section class="card card-body">
    <h1 class="display-1 text-center ">home</h1>
        <p>
        Las galaxias son sistemas colosales que contienen miles de millones de 
        estrellas, nubes de gas, polvo espacial, materia oscura y energía. 
        Se encuentran unidas por la fuerza de la gravedad y se extienden por 
        distancias inimaginables.
        </p>

        <div class="text-center">
            <a class="btn btn-primary" href="/signin/">
                Signin
            </a>
            <a class="btn btn-primary" href="/signup/">
                Signup
            </a>
        </div>
    </section>
    
</main>

{% endblock %}
